body{
	background-color: black;
}

#display{
	padding-top: 0px;
	padding-bottom:0px;
	display:none;
}

#mainDiv{
	border-radius: 20px;
	border: 2px solid #000000;
	padding-left: 75px;
	width: 400px;
	background-color: white;
	font-family: arial;
	font-size: 12px;
}

#title{
	font-size: 20px;
	color: grey;
}

.result{
	margin: 0em;
}

#principal{
	width:50%;
}

#years{
	width:50%;
}

